/* Reset & base styles */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #fefaf6;
    color: #3e3e3e;
    line-height: 1.6;
    padding: 2rem;
}

/* Headers */
h1, h2, h3 {
    color: #a9586a;
    font-family: 'Playfair Display', serif;
}

/* Links */
a {
    color: #caa37b;
    text-decoration: none;
}

a:hover {
    color: #b497bd;
    text-decoration: underline;
}